.description {
  align-self: stretch;
  color: var(--text-tertiary);
  font-size: var(--font-size-sm);
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: var(--font-line-height-sm);
  white-space: pre-wrap;
  word-break: break-all;
}
